* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Arimo", sans-serif;
  color: #212121;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/federica-giusti-C8hpCrbWMqA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  color: #00796b;
  font-size: 52px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px #fff;
}

h3 {
  color: #00796b;
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}

.header {
  width: 1200px;
  margin-top: 50px;
}

.header p {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 48px;
  text-align: center;
}

#tags {
  text-align: left;
  margin-top: -10px;
  font-size: 14px;
  font-style: italic;
  color: #757575;
}

.container {
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 42px;
  padding: 36px;
  width: 50%;
}

#list {
  text-align: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 42px;
  padding: 36px;
  width: 50%;
}

#reviewsSection {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.dailyQuotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.dailyQuotes:hover {
  box-shadow: 0 10px 10px #00796b;
}

.dailyQuotes p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 28px;
  margin-bottom: 24px;
  text-align: center;
}

#browsing {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

#search-form {
  padding: 16px;
}

#search-container {
  text-align: center;
  margin-top: 42px;
  padding: 36px;
  width: 50%;
}

#searchResultContainer {
  margin-top: 16px;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styling {
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 9px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 12px;
  margin-bottom: 12px;
}

#search-bar {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.favButton {
  margin-top: 24px;
}

.editor {
  white-space: pre-line;
}
*/ #quoteForm {
  border-radius: 5px;
  width: 200px;
}

#authorForm {
  border-radius: 5px;
  margin-top: 12px;
  width: 200px;
  height: 30px;
}

#tagsForm {
  border-radius: 5px;
  margin-top: 12px;
  width: 200px;
  height: 30px;
}

#keyword-dropdown {
  margin-top: 20px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

#dropdownContainer {
  text-align: center;
  margin-top: 34px;
  width: 50%;
  padding: 36px;
}

#dropdownContainer label {
  color: #00796b;
  font-weight: bold;
}

#quotes-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: left;
  list-style-type: none;
  align-items: center;
  padding: 10px;
}

#author {
  font-size: 18px;
  font-style: italic;
  text-align: right;
  margin-top: -10px;
  color: #009688;
}

/* Buttons */
.twitter {
  border: 1px solid rgb(102, 179, 255);
  border-radius: 4px;
  background-color: rgb(102, 179, 255);
  color: white;
  text-align: center;
  font-size: 1.8em;
  width: 60px;
  height: 35px;
  line-height: 40px;
}

.submit-button {
  font-size: 14px;
  border-radius: 9px;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #00796b;
}
#new-quote-btn {
  font-size: 18px;
  border-radius: 9px;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #00796b;
}

#new-quote-btn:link,
#new-quote-btn:visited {
  font-size: 20px;
  font-weight: 500;
  background-color: #00796b;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}
